<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5538162811-d4akqgcl7hret6ktg610sag9vh13dbs7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5538162811-d4akqgcl7hret6ktg610sag9vh13dbs7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5538162811-j77qpo75t799bdtnipa0vfadtsp2lphn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDteUqO9IL-n9z4Hp62Gh8o7GQS7bwvRgI</string>
	<key>GCM_SENDER_ID</key>
	<string>5538162811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatfire</string>
	<key>PROJECT_ID</key>
	<string>chatfire-28e34</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfire-28e34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5538162811:ios:ea6435d275bb5b6e745ade</string>
</dict>
</plist>